/*------------ MAIN ---------------*/
.main{
	background: var(--bg2);
	/*background: linear-gradient(310deg, rgba(0,0,0,1) 23%, var(--bg3) 31%, rgba(0,0,0,1) 72%, var(--bg3) 90%);*/
}
.mainleft {
	height: 100%;
	flex-basis: 50%;
	display: inherit;
}
.mainright {
	height: 100%;
	flex-basis: 50%;
}
.mainleft div p {
	color: var(--bg8);
	font-size: 1.4em;
	font-family: 'Titillium Web';
	font-weight: bold;
	align-self: center;
	display: inline-block;
	align-self: center;
}
.maintitlebox {
	margin-top: 15%;
	margin-left: 15%;
	flex-basis: 50%;
	height: 50px;
	display: inherit;
}
#cnv {
	margin-left: 10px;
	margin-right: 10px;
}