
body{
    background-color: rgb(10, 11, 10);
    position: relative;
}
/*.box-title {
    display: flex;
    flex-direction: column;
}
.body-title {
    font-size: 300%;
    display: inline-block;
}
.fa {
    width: 600px;
    height: 200px;
    margin: 25px 10%;
    outline: 1px solid rgb(0, 122, 46);
    color: rgb(0, 162, 86);
    padding: 0;
    position: relative;
    left: 0;
    right: 0;
    background:black;
    border-bottom: 5px solid rgb(14,15,14);
}
.fa:hover {
    outline: 1px solid rgb(43, 221, 43);
}
.chi {
    width: 100%;
    height: 70%;
    background: linear-gradient( to left, rgb(0,0,0), rgb(4,6,4), rgb(0,0,0));
    clip-path: circle(100px at 0% 50%);
    margin: 0;
    animation: move-ball 2s infinite;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(5, 41, 5, .5);
    font-size: 1cm;
    padding-top: 0;
}*/
/*.title-1 {
    padding-top: 40px;
    height: 45%;
}
.title-2 {
    padding-top: 55px;
    height: 40%;
}
.title-3 {
    padding-top: 40px;
    height: 42%;
}
.title-4 {
    padding-top: 40px;
    height: 40%;
}*/
/*.box-title {
    display: flex;
    font-size: 5em;
    width: 30%;
    height: 100%;
    /*background-color: aqua;
    text-align: center;
    animation: rainbow-background 20s infinite;
    /*border: 2px solid rgb(6, 6, 6);
    /*font-family: 'BhuTuka Expanded One', cursive;
    background:linear-gradient(to left, rgb(0,10,0),rgb(10, 11, 10), rgb(10, 11, 10), rgb(0,10,0));
    border-right: 5px solid rgb(14,15,14);
}
.box-content {
    width: 70%;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    /*background-color: aquamarine;
    background:linear-gradient(to left, rgb(0,10,0),rgb(10, 11, 10), rgb(10, 11, 10), rgb(0,10,0));

}*/



.text {
    padding: 10px;
    padding-bottom: 0;
    margin: 0;
    font-family:monospace;
    animation: color-letter .01s infinite;
}
.boxofboxes {
    display: flex;
    border-bottom: 5px solid rgb(14,15,14) ;
    border-top: 5px solid rgb(14,15,14) ;
    /*background-image: url(/freetext/recursos/images/purpledark.jpg);*/
    background-color: rgb(0,10,0);
}
.ending-box {
    width: 100%;
    height: 12em;
    background:linear-gradient(to left, rgb(0,10,0),rgb(10, 11, 10), rgb(10, 11, 10), rgb(0,10,0));
    position: relative;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    padding-bottom: 20px;
    padding: 20px 90px;
    justify-content: center;
}
.starting-box {
    width: 100%;
    height: 5em;
    font-size: 18px;
    position: relative;
    background:linear-gradient(to top,rgb(0,10,0),#000);
}
.starting-box__ul {
    padding: 20px 20px;
    color: white;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}
.starting-box__li {
    padding: 0 65px;
    text-decoration: none;
    display: flex;
}
a:visited {
    color:rgb(43, 221, 43)
}
a:link {
    color:rgb(43, 221, 43)
}
a:hover {
    color: white;
}
.freetext-content {
    width: 100vw;
    height: 50em;
    resize: none;
    border: 2px solid rgb(7, 16, 7);
    outline: none;
    position: relative;
    display: block;
    margin: 20px 20px;
    background:linear-gradient(to left, black,rgb(0, 15, 0), black);
    animation: color-letter 0.01s infinite;
    padding: 30px;
    font-family: monospace;
    font-size: 17px;
}
.freetext-content:focus {
    outline:  2px solid rgb(23, 100, 23, .5);
}



@keyframes move-ball {
    0% { clip-path: circle(105px at 0% 50%);}
    2.5%{clip-path: circle(110px at 5% 50%);}
    5%{clip-path: circle(100px at 10% 50%);}
    7.5%{clip-path: circle(110px at 15% 50%);}
    10%{clip-path: circle(105px at 20% 50%);}
    12.5%{clip-path: circle(110px at 25% 50%);}
    15% { clip-path: circle(100px at 30% 50%);}
    17.5%{clip-path: circle(110px at 35% 50%);}
    20%{clip-path: circle(105px at 40% 50%);}
    22.5%{clip-path: circle(110px at 45% 50%);}
    25%{clip-path: circle(100px at 50% 50%);}
    27.5%{clip-path: circle(110px at 55% 50%);}
    30% { clip-path: circle(105px at 60% 50%);}
    32.5%{clip-path: circle(110px at 65% 50%);}
    35%{clip-path: circle(100px at 70% 50%);}
    37.5%{clip-path: circle(110px at 75% 50%);}
    40%{clip-path: circle(105px at 80% 50%);}
    42.5%{clip-path: circle(110px at 85% 50%);}
    45% { clip-path: circle(100px at 90% 50%);}
    47.5%{clip-path: circle(110px at 95% 50%);}
    50%{clip-path: circle(105px at 100% 50%);}

    50% { clip-path: circle(105px at 100% 50%);}
    52.5%{clip-path: circle(110px at 95% 50%);}
    55%{clip-path: circle(100px at 90% 50%);}
    57.5%{clip-path: circle(110px at 85% 50%);}
    60%{clip-path: circle(105px at 80% 50%);}
    62.5%{clip-path: circle(110px at 75% 50%);}
    65% { clip-path: circle(100px at 70% 50%);}
    67.5%{clip-path: circle(110px at 65% 50%);}
    70%{clip-path: circle(105px at 60% 50%);}
    72.5%{clip-path: circle(110px at 55% 50%);}
    75%{clip-path: circle(100px at 50% 50%);}
    77.5%{clip-path: circle(110px at 45% 50%);}
    80% { clip-path: circle(105px at 40% 50%);}
    82.5%{clip-path: circle(110px at 35% 50%);}
    85%{clip-path: circle(100px at 30% 50%);}
    87.5%{clip-path: circle(110px at 25% 50%);}
    90%{clip-path: circle(105px at 20% 50%);}
    92.5%{clip-path: circle(110px at 15% 50%);}
    95% { clip-path: circle(100px at 10% 50%);}
    97.5%{clip-path: circle(110px at 5% 50%);}
    100%{clip-path: circle(105px at 0% 50%);}
}
@keyframes rainbow-background {
    0% { color: #aaaaaa; }
    8.333% { color: #333333; }
    16.667% { color: #11ff00; }
    25.000% { color: #30ff00; }
    33.333% { color: #00ff00; }
    41.667% { color: #00ff80; }
    50.000% { color: #003300; }
    58.333% { color: #00ff80; }
    66.667% { color: #00ff00; }
    75.000% { color: #30ff00; }
    83.333% { color: #11ff00; } 
    91.667% { color: #333333; }
 100.00% { color: #aaaaaa; }
}
@keyframes color-letter {
    0%{color:rgb(248, 248, 248);}
    20%{color: rgb(31, 248, 31);}
    40%{color:rgb(0, 162, 86)}
    60%{color: rgb(4, 106, 38);}
    80%{color: rgb(5, 41, 5);}
    100%{color: rgb(0, 0, 0);}
}