
body{
    position: relative;
}
/*STARTINGBOX*/
.starting-box {
    width: 100%;
    height: 5em;
    font-size: 18px;
    position: relative;
    background:linear-gradient(to top,rgb(0,30,0),#000);
}
.starting-box__ul {
    padding: 20px 20px;
    color: white;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}
.starting-box__li {
    padding: 0 65px;
    text-decoration: none;
    display: flex;
}
a:visited {
    color:rgb(43, 221, 43)
}
a:link {
    color:rgb(43, 221, 43)
}
a:hover {
    color: white;
}
/*CARD1TITLE*/
.card-1-title {
    display: flex;
    font-size: 2em;
    animation: rainbow-background 40s infinite;
    width: 100%;
    height: 2em;
    justify-content: center;
    letter-spacing: 20px;
    background: linear-gradient(to bottom,rgb(0,30,0), black);
}
.card-1-title__h2 {
    padding-bottom: 17px;
}
/*BOXOFBOXES*/
.boxofboxes {
    display: flex;
    border-bottom: 5px solid rgb(14,15,14) ;
    border-top: 5px solid rgb(14,15,14) ;
    /*background-image: url(/freetext/recursos/images/purpledark.jpg);*/
    background:linear-gradient(to left, rgb(0,15,0),rgb(10, 11, 10), rgb(10, 15, 10), rgb(0,10,0));
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.box-rules {
    animation: color-letter 0.01s infinite;
    font-family: monospace;
    height: 100%;
}
.box-rules__ol {
    margin: 20px 40px;
}
.box-rules__li {
    padding: 20px 0px;
}
/*ENDINGBOX*/
.ending-box {
    width: 100%;
    height: 12em;
    background:linear-gradient(to left, rgb(0,10,0),rgb(10, 11, 10), rgb(10, 11, 10), rgb(0,10,0));
    position: relative;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    padding-bottom: 20px;
    padding: 20px 90px;
    justify-content: center;
    margin-top: 0;
}
/*OTHERS*/
.text {
    padding: 10px;
    padding-bottom: 0;
    margin: 0;
    font-family:monospace;
    animation: color-letter .01s infinite;
}
/*KEYFRAMES*/
@keyframes move-ball {
    0% { clip-path: circle(105px at 0% 50%);}
    2.5%{clip-path: circle(110px at 5% 50%);}
    5%{clip-path: circle(100px at 10% 50%);}
    7.5%{clip-path: circle(110px at 15% 50%);}
    10%{clip-path: circle(105px at 20% 50%);}
    12.5%{clip-path: circle(110px at 25% 50%);}
    15% { clip-path: circle(100px at 30% 50%);}
    17.5%{clip-path: circle(110px at 35% 50%);}
    20%{clip-path: circle(105px at 40% 50%);}
    22.5%{clip-path: circle(110px at 45% 50%);}
    25%{clip-path: circle(100px at 50% 50%);}
    27.5%{clip-path: circle(110px at 55% 50%);}
    30% { clip-path: circle(105px at 60% 50%);}
    32.5%{clip-path: circle(110px at 65% 50%);}
    35%{clip-path: circle(100px at 70% 50%);}
    37.5%{clip-path: circle(110px at 75% 50%);}
    40%{clip-path: circle(105px at 80% 50%);}
    42.5%{clip-path: circle(110px at 85% 50%);}
    45% { clip-path: circle(100px at 90% 50%);}
    47.5%{clip-path: circle(110px at 95% 50%);}
    50%{clip-path: circle(105px at 100% 50%);}

    50% { clip-path: circle(105px at 100% 50%);}
    52.5%{clip-path: circle(110px at 95% 50%);}
    55%{clip-path: circle(100px at 90% 50%);}
    57.5%{clip-path: circle(110px at 85% 50%);}
    60%{clip-path: circle(105px at 80% 50%);}
    62.5%{clip-path: circle(110px at 75% 50%);}
    65% { clip-path: circle(100px at 70% 50%);}
    67.5%{clip-path: circle(110px at 65% 50%);}
    70%{clip-path: circle(105px at 60% 50%);}
    72.5%{clip-path: circle(110px at 55% 50%);}
    75%{clip-path: circle(100px at 50% 50%);}
    77.5%{clip-path: circle(110px at 45% 50%);}
    80% { clip-path: circle(105px at 40% 50%);}
    82.5%{clip-path: circle(110px at 35% 50%);}
    85%{clip-path: circle(100px at 30% 50%);}
    87.5%{clip-path: circle(110px at 25% 50%);}
    90%{clip-path: circle(105px at 20% 50%);}
    92.5%{clip-path: circle(110px at 15% 50%);}
    95% { clip-path: circle(100px at 10% 50%);}
    97.5%{clip-path: circle(110px at 5% 50%);}
    100%{clip-path: circle(105px at 0% 50%);}
}
@keyframes rainbow-background {
    0% { color: #aaaaaa; }
    8.333% { color: #333333; }
    16.667% { color: #11ff00; }
    25.000% { color: #30ff00; }
    33.333% { color: #00ff00; }
    41.667% { color: #00ff80; }
    50.000% { color: #003300; }
    58.333% { color: #00ff80; }
    66.667% { color: #00ff00; }
    75.000% { color: #30ff00; }
    83.333% { color: #11ff00; } 
    91.667% { color: #333333; }
 100.00% { color: #aaaaaa; }
}
@keyframes color-letter {
    0%{color:rgb(248, 248, 248);}
    20%{color: rgb(31, 248, 31);}
    40%{color:rgb(0, 162, 86)}
    60%{color: rgb(4, 106, 38);}
    80%{color: rgb(5, 41, 5);}
    100%{color: rgb(0, 0, 0);}
}






